{% extends 'pathgame/base.html' %}
{% load static %}

{% block title %}Board Creator{% endblock %}

{% block content %}

    <form method="POST" draggable="false" action="{% url 'pathgame:board_save' %}" class="select-none">
        {% csrf_token %}
        <label for="sliderWidth">Width:</label>
        <input type="range" id="sliderWidth" name="width" min="2" max="30" value="10">
        <span id="sliderWidthValue">10</span> px
        <br>

        <label for="sliderHeight">Height:</label>
        <input type="range" id="sliderHeight" name="height" min="2" max="30" value="10">
        <span id="sliderHeightValue">10</span> px
        <br>

        <div>
            <label for="select_shape">Shape:</label>
            <select id="select_shape" name="type" class="border p-1 bg-black" >
                <option value="3">Triangles</option>
                <option value="4">Squares</option>
                <option value="6" selected="selected">Hexagons</option>
            </select>
        </div>
        
        <label for="board_name">Board Name:</label>
        <input type="text" name="name" id="board_name" value="Untitled" class="border p-1">
        <br>
        <button id="submit_board_btn" type="submit" class ="bg-black border-2 p-2 hover:cursor-pointer">Continue to Dots</button>
        <br>
    </form>

    <svg id="grid" width="500" height="500"></svg>

    <script type="module" src="{% static 'js/dist/board_preview.js' %}"></script>

{% endblock %}
