{% extends 'pathgame/base.html' %}
{% load static %}

{% block title %}Board Creator{% endblock %}

{% block content %}

<div class="mb-4">
    <p>{{ board.name }} by {{ board.creator.username }}</p>
    <p>{{ board.width }} x {{ board.height }}</p>
    <p>{{ board.type }}</p>
    <p>{{ board.created_at }}</p>
    <p>{{ board.updated_at }}</p>
</div>

{{ board|json_script:"board-data" }}
{{ board_points|json_script:"board-points" }}



<div class="w-4/5 p-4 bg-black flex flex-col border-2">
    <div class="w-full p-2 text-center text-xl font-bold">
        Added color
    </div>
    <div class="flex flex-row flex-wrap p-2 gap-4 items-center justify-center">
        <div class="color rounded-full h-12 border-1 p-2" color="">
            <div class="rounded-full h-full w-20" style="background-color: {{ color }};"></div>
        </div>
        {% for color in colors %}
            <div class="color rounded-full h-12 border-1 p-2" color={{ color }}>
                <div class="rounded-full h-full w-20" style="background-color: {{ color }};"></div>
            </div>
        {% endfor %}
    </div>
</div>

<div
    id="board-config"
    data-width="{{ board.width }}"
    data-height="{{ board.height }}"
    data-shape="{{ board.type }}"
    data-board-id="{{ board.id }}"
    class="hidden"
></div>


<svg id="grid" width="500" height="500" class="bg-gray-800 select-none"></svg>

<script type="module" src="{% static 'js/dist/board-edit.js' %}"></script>

{% endblock %}
