{% extends 'pathgame/base.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}
    <div class="max-w-4xl mx-auto p-6 space-y-6 text-center">
        <h2 class="text-4xl font-semibold">
            Welcome to the <span class="text-blue-600">Cave Maps</span> Portal
        </h2>
        
        <p class="text-lg">
            Explore a world of cave maps and find your way through stunning, mysterious cave systems. Whether you're an adventurer, explorer, or enthusiast, you’ll love the journeys ahead.
        </p>


        <div class="mt-10 text-gray-500">
            <p class="text-sm flex flex-col gap-6">
                {% if user.is_authenticated %}
                    <a href="{% url 'pathgame:user_page' user.id %}" class="text-blue-500 hover:underline">Check your boards here</a>
                    <a href="{% url 'pathgame:board_creator' %}" class="text-blue-500 hover:underline">Create a new board</a>
                    <a href="{% url 'pathgame:board_list' %}" class="text-blue-500 hover:underline">Browse boards</a>
                {% else %}
                    <span class="text-gray-400">Please log in to track your paths.</span>
                {% endif %}
            </p>
        </div>
    </div>
{% endblock %}