{% extends 'pathgame/base.html' %}
{% load static %}

{% block title %}Subboard Editor{% endblock %}

{% block content %}

<div class="mb-4">
    <p>Board:</p>
    <div class="mb-4">
        <p class="font-bold">{{ board.name }} <span class="font-normal">by</span> {{ board_author.username }}</p>
        <p>{{ board.width }} x {{ board.height }}</p>
        <p>{{ board.type }}</p>
    </div>
    <br>
    <p>Subboard:</p>
    <form method="POST" action="{% url 'pathgame:update_subboard_name' subboard.id %}" class="space-y-2">
        {% csrf_token %}
        <label for="subboard-name">Name:</label>
        <input type="text" id="subboard-name" name="name" value="{{ subboard.name }}" class="px-2 py-1 rounded">
        <button type="submit" class="bg-blue-500 text-white px-3 py-1 rounded hover:bg-blue-600 hover:cursor-pointer">
            Update Name
        </button>
        <p class="text-sm text-gray-500">by {{ subboard_author.username }}</p>
    </form>

</div>

{{ board|json_script:"board-data" }}
{{ board_points|json_script:"board-points" }}
{{ subboard|json_script:"subboard-data" }}
{{ paths|json_script:"paths-data" }}
<svg id="grid" width="1000" height="800" class="select-none" oncontextmenu="return false;"></svg>

<script type="module" src="{% static 'js/dist/subboard-editor.js' %}"></script>

{% endblock %}
