{% extends 'pathgame/base.html' %}
{% load static %}

{% block title %}Subboard Editor{% endblock %}

{% block content %}

<div class="w-full flex flex-col items-center">
    <div class="relative w-9/10 h-20 flex items-center"> 
        <p class="font-bold absolute text-5xl px-4 text-hollow">Board "{{ board.name }}" <span class="text-2xl">by {{ board_author.username }}</span></p>
    </div>
    <form method="POST" action="{% url 'pathgame:update_subboard_name' subboard.id %}" class="space-y-2 flex flex-col">
        {% csrf_token %}
        <input type="text" id="subboard-name" name="name" value="{{ subboard.name }}" class="w-150 px-2 py-1 rounded text-center text-4xl">
        <p class="text-sm text-gray-500 self-center">by {{ subboard_author.username }}</p>
    </form>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const input = document.getElementById("subboard-name");

            function resizeInput() {
                input.style.width = ((input.value.length + 1) * 1) + "ch";
            }

            input.addEventListener("input", resizeInput);
            resizeInput();
        });
    </script>
</div>

{{ board|json_script:"board-data" }}
{{ board_points|json_script:"board-points" }}
{{ subboard|json_script:"subboard-data" }}
{{ paths|json_script:"paths-data" }}
<svg id="grid" width="1000" height="800" class="select-none" oncontextmenu="return false;"></svg>

<script type="module" src="{% static 'js/dist/subboard-editor.js' %}"></script>

{% endblock %}
