@import "tailwindcss";

@source "../../../**/*.{html,py,js,ts}";


@theme {
    --color-navy: #00060a;
    --color-dark-green: #0d150d;
    --color-dirty-red: #220b0b;
    --color-neon-blue: rgb(0, 183, 255);

    --color-weizen: #FFE696;
    --color-pale-lager: #FFCC66;
    --color-pilsner: #F0B450;
    --color-ale: #DC783C;
    --color-marzen: #C85A32;
    --color-bock: #BE6428;
    --color-porter: #3C2814;
    --color-dark-lager: #1E140A;
    --color-stout: #140A05;

    --color-weizen-dark: #8f7c39;
    --color-pale-lager-dark: #946217;
    --color-pilsner-dark: #744a13;
    --color-ale-dark: #6d361a;
    --color-marzen-dark: #520e05;
    --color-bock-dark: #632908;
    --color-porter-dark: #141311;
    --color-dark-lager-dark: #220f02;
    --color-stout-dark: #0f0601;
}


@layer cool-stuff {
    
    .text-hollow {
        text-shadow: 0 0 2px oklch(0.828 0.111 230.318), 0 0 2px oklch(0.828 0.111 230.318), 0 0 2px oklch(0.828 0.111 230.318);
        color: black;
    }

    .text-neon {
        text-shadow: 0 0 7px #fff,
                    0 0 10px #fff,
                    0 0 21px #fff,
                    0 0 42px var(--color-neon-blue),
                    0 0 82px var(--color-neon-blue),
                    0 0 92px var(--color-neon-blue);
    }
}